In [2]:
# what is python
# Python is an easy and powerful Programming language
# its widely used data analysis automation wev dev ai and machine learning
# what is variable
# a varible is a name given to value
# it is used stored data 

age = 25
age
name = 'shubham'
salary =45000
is_student = True
print('my age is' ,age,name,salary,is_student)

my age is 25 shubham 45000 True

In [3]:
# wht we use varible
# to store information
# to reuse values
# To make code easy to read and change
# example
price = 100
Quantity = 3

total_price = price * Quantity
total_price

300

In [4]:
# rules of varibles
# must start with a letter or _
# can contain letters,numbers _
# cannot start with a number

# age valid
# _age valid 
# 1age not valid
# age1 valid
# my-age not valid

# A variable is a container used to store data values in a program

In [6]:
# Data Types
# What is data type
# A data type tells python what kind of value a variable is Storing 

# primitive data types 

# int = whole numbers
age = 25 
marks = 90

# float

salary = 50000.00
price = 99.99

# Strings
# Text/Char always in quotes

name = 'shubham'
city = 'pune'

# boolean
is_student = True
is_working = False

In [8]:
print(type(age),age)
print(type(marks),marks)

<class 'int'> 25
<class 'int'> 90

In [11]:
x = 10
print(type(x),x)

<class 'int'> 10

In [15]:
# type casting
x = 10
print(float(x))

10.0

In [16]:
y = '10'
x = int(y)
print(x)

10

In [17]:
x = 15.11
a = int(x)
print(a)

15

In [22]:
name = input('Enter name:')
age = int(input('enter age:'))

print(f" name is {name},{age+1} next year")

Enter name: sam
enter age: 23

 name is sam,24 next year

In [23]:
std_id = 1
std_name = 'sam'
std_age = 21
std_working = False

print(type(std_id))
print(type(std_name))
print(type(std_age))
print(type(std_working))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'bool'>

In [29]:
def square():
  s = int(input(' Enter square number:'))
  square = s ** 2
  print(square)

square()
square()

 Enter square number: 4

16

 Enter square number: 4

16

In [33]:
# operators
# What is an Operators 
# An Operator is a symbol used to perform operations on values or variables

# Arimetic Operators
# (+,-,*,/,//,%,**)

a = 10
b = 5
print(a+b)
print(a//b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

15
2
5
50
2.0
0
100000

In [35]:
# comparison Operators (True or False)
# (==,!=,>,<,>=,<=,)

x = 50
y = 5

print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x != y)
print(x == y)

True
False
True
False
True
False

In [38]:
# Logical Operators
age = 18

print(age > 18 and age < 30)
print(age >= 18 and age != 22)
print(age > 18 or age < 18)
print(not(age < 18))

False
True
False
True

In [44]:
# Assignment Operators

x = 10
x += 5
print(x)

y = 15
y -= 5
print(y)

x1 = 12
y1 = x1 + 3
x1 = y1 - 3
print(x1)

15
10
12

In [53]:
# Example
salary = int(input('Enter Your salary'))

if salary > 30000:
    print('good salary')
else:
    print('we need improve salary')

Enter Your salary 44444

good salary

In [57]:
# check if a number is even or odd using operators

x = int(input('enter the number'))

if x % 2 == 0:
    print('even')
else:
    print('odd')

enter the number 10

even

In [59]:
# what is else
# if_else is usec to make decisions in a program

In [74]:
age1 = int(input('enter your age'))

if age1 >= 18:
    print('you are eligible for vote')
else:
    print('you are not eligible for vote')

enter your age 99

you are eligible for vote

In [76]:
marks =  int(input('enter your marks:'))

if marks >= 80:
    print('Grade A')
elif marks >= 60:
    print('Grade B')
else:
    print('Grade C')

enter your marks: 45

Grade C

In [78]:
num = int(input('enter a number'))

if num % 2== 0:
    print('even number')
else:
    print('odd number')

enter a number 55

odd number

In [81]:
std_age = int(input('enter num'))

if age > 18 and age < 60:
    print('Working age')
else:
    print('Not working age')

enter num 19

Working age

In [85]:
# Practice Time
# Take a number from user and check
# Positive
# Negative
# zero

num = int(input('enter a num:'))

if num > 0:
    print('postive number')
elif num < -0:
    print('Negative number')
else:
    print('zero')

enter a num: 0

zero

In [88]:
# Q2 Take Salary from user
# salary > 50000 - high salary
# salary < 40000 - low salary


salary = float(input('Enter your salary'))

if salary > 50000:
    print('High salary')
elif salary < 30000 and salary >= 50000:
    print('Mediaum salary')
else:
    print('low salary')

Enter your salary 99999

High salary

#  we use if-eilf-else to check multiple conditions based on user input

In [93]:
# what is loop is in python
# A loop is used to repeat a block of code mulitple times

# for loop 
# used when we know how many times we want to run the loop

for i in range(1,6):
    print(i)

1
2
3
4
5

In [110]:
# t = int(input('enter the tabel'))
# print tabel       


for tabel in range(1,11):
           print(tabel*2)

2
4
6
8
10
12
14
16
18
20

In [1]:
# while loop
# used when dont know how many times the loop will run

i = 1
while i <= 5:
    print(i)
    i+=1

1
2
3
4
5

In [2]:
i = 1
while i <= 11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11

In [4]:
# Loop with if

for i in range(1,11):
    if i%2 ==0:
        print(i,"is even")

2 is even
4 is even
6 is even
8 is even
10 is even

In [7]:
x = int(input('enter the num'))

for x in range(1,11):
    if x%2 == 0:
        print(x," is even")
    else:
        print(x,"is odd")

enter the num 13

1 is odd
2  is even
3 is odd
4  is even
5 is odd
6  is even
7 is odd
8  is even
9 is odd
10  is even

In [9]:
for i in range(1,11):
    if i == 3:
        break
    print(i)

1
2

In [16]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [18]:
# prictice time

# Q1 print numbers from 1 to 10
# for loop and while loop

for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [19]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [37]:
# Q2 print only even numbers from 1 to 20

for i in range(1,21):
    if i%2 ==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [28]:
i = 1
while i < 10 :
    print(i*2)
    i+=1

2
4
6
8
10
12
14
16
18

In [36]:
# Take a number from user and print its tabel

tabel = int(input('enter the num'))

for t in range(1,11):
    print(tabel*t)

enter the num 21

21
42
63
84
105
126
147
168
189
210

In [38]:
# Functions
# A function is a block of code that
# performs a specifick task
# run only when it is called
# help avoid repeating code

In [40]:
# simple function no parameter
def greet():
    print('hello')

greet()   
greet() #function call

hello
hello

In [43]:
# function with parameter

def greet(name): #parameter
    print('hello',name)

greet('shubham')    
greet('raj')

hello shubham
hello raj

In [45]:
# Function with mulitple parameters

def add(a,b):
    print(a+b)

add(2,4)  
add(10,5)

6
15

In [49]:
# Function with return value
def add(x,y):
    return x+y

result=add(2,3)
result

5

In [51]:
# Example
def check_even_odd(num):
    if num%2 == 0:
        return "Even"
    else:
        return"Odd"

print(check_even_odd(10))   
check_even_odd(11)

Even

'Odd'

In [56]:
# Function with user input

def square(num):
    return num*num

n = int(input('Enter number:'))
print(square(n))

Enter number: 5

25

In [58]:
# Create a function to find the square of number

def square(num):
    return num*num

    
square(2)

4

In [65]:
# List
# a list is a collection of items stored in one variable

# list are ordered, changeable,allow duplicate values
# a list is a mutable,ordered collection of elements in python

num = [10,20,30,40,50]
names = ['sam','ram','raj','viraj','rohi']

mixed = [1,"python",3.5,True]



num[1]
names[3] 
mixed.append('module')
mixed.insert(5,"comment")
mixed

[1, 'python', 3.5, True, 'module', 'comment']

In [67]:
mixed[1:3]

['python', 3.5]

In [72]:
# remove Elements

mixed.pop(2)
mixed

[1, 'python', True, 'module']

In [73]:
for name in names:
    print(name)

sam
ram
raj
viraj
rohi

In [78]:
print(max(num))
print(min(num))
print(sum(num))
print(num.sort())
num

50
10
150
None

[10, 20, 30, 40, 50]

In [79]:
marks = [45,67,77,88,90]

avg = sum(marks)/len(marks)
print("avg marks",avg)

avg marks 73.4

In [86]:
# Q1 Create a list of 5 num and print
# first element
# last element
marks = [45,67,77,88,90]
marks[0]
marks[4]

90

In [87]:
# Q2 Add a number to the list and remove one element
marks.append(88)
marks

[45, 67, 77, 88, 90, 88]

In [89]:
marks.insert(4,66)
marks

[45, 67, 77, 88, 66, 90, 88]

In [92]:
# Q3 Find the sum and avg of a list

print(sum(marks))

avg = sum(marks)/len(marks)
print(avg)

521
74.42857142857143

In [93]:
len(marks)

7

In [95]:
# what is tuple

"""a tuple is a collection of items that is
ordered,immutable,allows duplicate values"""

numbers = (10,20,30,40,50)
print(numbers)

(10, 20, 30, 40, 50)

In [97]:
print(numbers[0])
print(numbers[-1])

10
50

In [99]:
fruits = ('mango','apple','pineapple','custerdapple')

for fruit in fruits:
    print(fruit)

mango
apple
pineapple
custerdapple

In [102]:
print(len(fruits))
print(max(fruits))
print(min(fruits))
# print(sum(fruits))

4
pineapple
apple

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [108]:
li=list(fruits)
li

['mango', 'apple', 'pineapple', 'custerdapple']

In [116]:
# what is a Dictionary

# a dictionary stores data in key:value pairs.

std = { 'name':'shubham',
        'age':23,
        'course':'Data Analyst'
      }
std.values()
print(std.keys())

dict_keys(['name', 'age', 'course'])

In [118]:
print(std['name'])

shubham

In [120]:
# get() is safer(no error if key not found)
print(std['name'])
print(std.get('age'))

shubham
23

In [122]:
# change / add values
std['age'] = 24
std

{'name': 'shubham', 'age': 24, 'course': 'Data Analyst'}

In [123]:
std['name']='raj'
std

{'name': 'raj', 'age': 24, 'course': 'Data Analyst'}

In [126]:
# std.pop('age')
print(std)

{'name': 'raj', 'course': 'Data Analyst'}

In [128]:
for key,value in std.items():
    print(key,value)

name raj
course Data Analyst

In [136]:
marks = { 'math':50,
          'chem':45,
          'marathi':55,
          'english':70
        }
total=min(marks.values())
print("total:",total)

total: 45

In [138]:
# useful dictionary methods
print(marks.keys())
print(marks.values())
print(marks.items())

dict_keys(['math', 'chem', 'marathi', 'english'])
dict_values([50, 45, 55, 70])
dict_items([('math', 50), ('chem', 45), ('marathi', 55), ('english', 70)])

In [141]:
# Q1 print all keys and values using loop

for key , values in marks.items():
    print(key,':',values)

math : 50
chem : 45
marathi : 55
english : 70

In [142]:
marks['bio'] = 49
print(marks)

{'math': 50, 'chem': 45, 'marathi': 55, 'english': 70, 'bio': 49}

In [150]:
# what is a set
# A set is a collection of items 
# unordered,unidexed,no duplicate values, mutable(you add remove items)


# A set is an unordered collection of unique elements in python

# create a set
set1 = {1,2,2,3,4,5}
print(type(set),set)

<class 'set'> {1, 2, 3, 4, 5}

In [151]:
# add elements
name={'sam','raj'}
name.add('vir')
name

{'raj', 'sam', 'vir'}

In [152]:
name.remove('sam')
name

{'raj', 'vir'}

In [153]:
name.discard('vir')
name

{'raj'}

In [154]:
for i in set1:
    print(i)

1
2
3
4
5

In [159]:
a={1,2,3,4,5}
b={5,6,7,8,9}
print(a&b)
print(a|b)
print(a-b)

{5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [162]:
nums = [1,2,3,4,5,6,7,8,5,7,8]
unique_nums = set(nums)

TypeError: 'set' object is not callable

In [169]:
# Q1 Create a set and add 3 elements
s = set()

print(s.add(1))
print(s.add(2))
print(s.add(3))

TypeError: 'set' object is not callable

In [172]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,2}
common = set1 &set2
common

{2, 3, 4, 5}

In [173]:
a

{1, 2, 3, 4, 5}

In [174]:
print( 2 in a)

True